<configuration debug="true" packagingData="true" scan="true" scanPeriod="1 minute"
               xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <property resource="application-logback.properties"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${my.log.p2}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info"></logger>
    <logger name="top.lishuoboy" level="trace"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>